<h3 class="body_header center">About Me</h3>

<div id="about" class="sub_content">
  <div class= "text_pane">
    <p>
      I am dedicated to learning, always looking for technologies to use, books to read, theories to comprehend, or skills to develop.
    </p>
    <p>
      I thrive on seeing projects comes to life and succeeding with a team. Web development always has something new to learn and create with a team, making it ideal for me.
    </p>
    <p>
      I am a developer, wood carver, student, camper, dreamer, coder, partially trained historian, and resident of Chicagoland. I make web apps.
    </p>
  </div>
</div>
<div id= "past" class="sub_content">
  <div class= "text_pane">
    <h3>The Road So Far:</h3>
    <p>
      I graduated from <a href="http://devbootcamp.com/" target="_blank">Dev Bootcamp</a> in Chicago. My final project was <a href="http://www.infobyt.es">infobyt.es</a>, a website dedicated to easily creating and viewing tutorials. I gained invaluable experience with Ruby on Rails, Javascript, JQuery, AJAX, background jobs, Active Record, PostgreSQL, HTML, CSS, and much more.
    </p>
    <p>
      I currently work for Wowzers, an educational math software company for grades K-8.
    </p>
    <p>
      Before making the full switch to programming, I earned a Master of Arts in History from <a href="http://www.siue.edu/">Southern Illinois University Edwardsville</a> after a Bachelor of Arts in History from <a href="http://www.illinois.edu/">The University of Illinois</a>.
    </p>
    <p>
      I primarily worked with early Islamic history, and am currently turning my master's thesis into an easily digestible website. Besides the core history classes, I worked with museums, was a teaching assistant, analyzed oral history interviews, and led discussions on philosophy.
    </p>
  </div>
</div>