<h3 class="body_header center">About Me</h3>

<div id="about" class="sub_content">
  <div class= "text_pane">
    <p>
      I am dedicated to learning, always looking for technologies to use, books to read, theories to comprehend, or skills to develop.
    </p>
    <p>
      I thrive on seeing projects comes to life and succeeding with a team. Web development always has something new to learn and create with a team, making it ideal for me.
    </p>
    <p>
      I am a developer, wood carver, student, camper, dreamer, coder, partially trained historian, and resident of Chicago suburbs. I work on the web.
    </p>
    <p>
      I have worked as a fullstack web developer since 2014, always aiming to solve problems for users. Working with fellow engineers is crucial to creating the best product, along with coordinating with UX/UI and SEO experts.
    </p>
  </div>
</div>
<div id= "past" class="sub_content">
  <div class= "text_pane">
    <h3>The Road So Far:</h3>
    <p>
      I have been lucky to work in exciting yet varied fields, incluidng Math Education, multi-media marketing, selling and buying farm equipment, auctions, and a little bit of shipping. Building products for teachers, students, large corporations, farmers, and dealerships have presented new challenges that continue to drive my growth.
    </p>
    <p>
      I graduated from Dev Bootcamp in Chicago. My final project was a website dedicated to easily creating and viewing tutorials. I gained invaluable experience as I started my career. Here I became fluent in Ruby on Rails and acquired a passion for leveraging the fullstack to create beautiful things. Sometimes that means more Ruby, sometimes more Javascript.
    </p>
    <p>
      Before making the full switch to programming, I earned a Master of Arts in History from <a href="http://www.siue.edu/">Southern Illinois University Edwardsville</a> after a Bachelor of Arts in History from <a href="http://www.illinois.edu/">The University of Illinois</a>.
    </p>
    <p>
      I primarily worked with early Islamic history, but worked with times, places, and people across the breath of human experience.  Besides the core history classes, I worked with museums, was a teaching assistant, analyzed oral history interviews, and led discussions on philosophy. I enjoyed learning Arabic and Turkish, even if only so much is retained these years later.
    </p>
  </div>
</div>
