<h3 class="body_header center">About Me</h3>

<div id= "find_out_more" class="sub_content">
  <div class= "text_pane">
    <h3>Find Out More:</h3>
    <div>
      <p>You can <a href="mailto:estensland88@gmail.com">email me</a>, check out my <a href="Resume.pdf">resume</a>, or look at the following:</p>
    </div>
    <h4 class="icons">
      <a target="_blank" href="http://www.github.com/estensland/"><i class="fa fa-github fa-2x"></i></a>
      <a target="_blank" href="http://www.twitter.com/stens688/"><i class="fa fa-twitter fa-2x"></i></a>
      <a target="_blank" href="http://www.linkedin.com/in/ericstensland/"><i class="fa fa-linkedin fa-2x"></i></a>  
    </h4>
  </div>
</div>
