<h3 class="body_header center">Find Out More:</h3>

<div id= "find_out_more" class="sub_content">
  <div class= "text_pane">
    <div>
      <p>You can <a href="mailto:estensland88@gmail.com">email me</a>, check out my <a href="Resume.pdf">resume</a>, my <a href="http://www.exercism.io//estensland">account at exercism.io</a>, or look at the icons at the bottom of the page:</p>
    </div>
  </div>
</div>
