<h3 class="body_header center">Programming, Learning, Creating</h3>

<div id="home" class="sub_content">
  <div class= "text_pane">
    <h3></h3>
    <p>
      Welcome to my little corner of the internet. You can learn more <%= link_to("about me", "/about")%> and <%= link_to("contact me", "/contact")%>.
    </p>
  </div>
</div>
