.body_header{
  font-size: 170%;
  
  padding-top: .3em;
}

.post_header{
  padding-bottom: .2em;
  padding-right: .5em;
  border-bottom: 1px solid black;
  width: 100%;
}

.created_date {
  display: inline-block;
  text-align: right;
  width: 39%;
  padding-right: .5em;
}

.post_title {
  text-align: center;
  font-size: 140%;
  margin: 0;
  padding: 0;
}


.post_time {
  float: right;
}

.post_tags{
  display: inline-block;
  width: 55%;
  color: #222;
  font-size: 101%;
}

.post_tags a{
  color: #AB0303;
}


.post_tags a:hover{
  color: red;
}

.post_title_bar {
  background-color: black;
  border-top-right-radius: .4em;
  border-top-left-radius: .4em;
  margin: 0;
  padding: 1em 0;
  padding-right: .5em;
  width:100%;
  text-align: center;
}
.post_title_bar a {
  font-size: 150%;
  color: white;
}