.body_header{
  font-size: 170%;
  
  padding-top: .3em;
}

.created_date {
  float: right;
  padding-right: .5em;
}

.post_title {
  text-align: center;
  font-size: 140%;
}

.post_time {
  float: right;
}

.post_tags{
  color: #222;
  font-size: 101%;
  padding-bottom: .2em;
  border-bottom: 1px solid black;
}

.post_tags a{
  color: #AB0303;
}


.post_tags a:hover{
  color: red;
}
