html {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  margin: 0;
  padding: 0;
}

a{
  color: #344EC2;
  text-decoration: none;
}

a:hover{
  color: red;
  text-decoration: underline;
}

h1, h2{
  display: inline;
  margin-right: .5em;
  font-family: 'Denk One', Helvetica, arial, freesans, clean, sans-serif;
}

img{
  border-radius: 10em;
  display: block;
  float:right;
  height: 9em;
  margin-right: 10%;
  margin-top: -1.25em;
}

.center{
  text-align: center;
}

.content{
  margin-top: 7.6em;
}

.content .text_pane{
  background-color: #eee;
  border: 1px solid black;
  border-radius: .5em;
  line-height: 125%;
  margin-bottom: 1em;
  margin: -1em auto 2em auto;
  padding-right: .5em;
  width: 50%;
}

.content div p, .content div h3{
  line-height: 20px;
  margin-left: .5em;
}

.content .sub_content{
  margin-top: -7.6em;
  padding-top: 7.6em;
}

.links{
  padding-top: .3em;
}

.icons {
  text-align: center;
}

.icons a{
  padding: 0 1em;
}

.nav {
  height: 60px;  
  position: fixed;
  text-align: right;
  top:0;
  width: 100%;
}

.nav h4{
  display: inline-block;
  margin: 0 1em;
}

.nav h4 a{
  padding: 0 .5em;
}

.nav a:hover{
  color: red;
}

.nav a{
  color: white;
  display: inline;
  margin-top: 0;
  text-align: center;
}

.top-bar {
  background-color: black;
  display: block;
  height: 5.7em;
  margin-left: -.5em;
  right: 0;
  top:0;
  width: 100%;
}

.title_text {
  color: white;
  display: inline;
  margin-top: 0;
  text-align: center;
}

.white_space {
  background-color: white;
  height: 1.5em;
  width: 100%;
}

@media (max-width: 850px){
  .content .text_pane{
    width: 70%;
  }
}

@media (max-width: 750px){
  .content .text_pane{
    width: 75%;
  }
}

@media (max-width: 515px){
  .content{
    margin-top: 11.5em;
  }
  .content .text_pane{
    width: 85%;
  }

  .top-bar {
    height: 8.3em;
  }
  .title_text .links {
    position: absolute;
    top: 8.2em;
    left: 0em;
  }
}

@media (max-width: 432px){
  .content{
    margin-top: 14em;
  }

  .content .text_pane{
    width: 98%;
  }

  .title_text h1{
    position: absolute;
    top: .5em;
    left: 0;
  }

  .title_text h2{
    position: absolute;
    top: 2.2em;
    left: 1em;
  }


  .top-bar {
    height: 8.3em;
  }
