.blog {
  padding-top: .5em;
  height: 53%;
}

.blog_content {
  padding: 0;
  margin: 0;
}


.name_blog {
  display: block;
  text-align: center;
  color: black;
  margin-top: 2.9em;
  margin-bottom: 0;
}

.blog_space {
  height: 10%;
}
